<section id='content' class="main-content snap-content">
  <a href="https://github.com/you">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
  </a>
  <header>
    <a href="/" class="brand">Serialgraphy</a>
    {{!-- <a href="#" id="snap-toggle" class="toggle"></a> --}}
  </header>
  <section id='the-app'>
    <form class='form'>
      {{input value=filteredShow id='search' class='form__search' placeholder='Search...' }}
    </form>
    {{ outlet }}
  </section>
</section>